@import "../../mixins";

.toggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; // Adjust height to auto
  padding: 10px; // Reduce padding
  font-family: Arial, sans-serif;
}

.toggle {
  display: flex;
  border: 2px solid $primary-color;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}

.toggleOption {
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s;
  color: $primary-color;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;

  &.active {
    background-color: $primary-color;
    color: $white-color;
  }

  &:not(.active):hover {
    background-color: #e0f7fa;
  }
}