.banner {
  text-align: center;
  padding: 20px;
  background-color: transparent; // Ensure background is transparent
}

.underline {
  width: 50px;
  height: 4px;
  background-color: #000;
  margin: 10px auto;
}
