// mixin styles
@import"../mixins";

// styles file
.profiles-card {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 1rem 0;
  border-bottom: 1px solid $border-card-color;

  &.no-border {
    border-bottom: 0;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .profile-name {
      @extend .textBold;
    }

    .profile-description {
      @extend .smallText;
      color: $light;
    }

    .profile-location {
      display: flex;
      align-items: center;
      gap: 2px;
      @extend .smallText;
    }
  }
}