@import "../../mixins";

.activity {
  background-color: $white-color;
  padding: 1.25rem; /* 20px */
  border-radius: 0.625rem; /* 10px */
  text-align: left;
  color: #333;
  font-family: Arial, sans-serif;
  width: 100%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* 0 2px 4px */

  h2 {
    font-size: 1.5rem; /* 24px */
    margin-bottom: 1.25rem; /* 20px */
  }

  .activity-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* 20px */
  }

  .activity-item {
    padding: 0.625rem; /* 10px */
    background-color: $white-color;
    box-shadow: 0 0.03125rem 0px rgba(0, 0, 0, 0.1); /* 0 0.5px 0px */
  }

  .activity-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3125rem; /* 5px */
  }

  .activity-title {
    font-size: 1.125rem; /* 18px */
    font-weight: bold;
  }

  .activity-date {
    font-size: 0.875rem; /* 14px */
    color: #888;
  }

  .activity-description {
    font-size: 1rem; /* 16px */
    color: #555;
  }
}