.company-reviews {
    margin: 20px;
    padding: 20px;
  //  background-color: #fff;
    border-radius: 10px;
  
    .review-card {
      display: flex;
      align-items: center;
      //background-color: #fff;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 10px;
      //  border: 1px solid #f0f0f0;
      // box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
      //opacity: 1;
    //  transition: opacity 0.5s ease-in-out;
    }
  
    .review-card:first-child,
    .review-card:last-child {
      opacity: 0.5;
    }
  
    .logo {
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }
  
    .details {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  
    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  
    .company-name {
      font-weight: bold;
      font-size: 16px;
    }
  
    .stars {
      color: orange;
      margin-left: 0;
    }
  
    .ratings {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      font-size: 14px;
      color: #555;
    }
  
    .rating-score {
      background-color: #008080;
      color: white;
      padding: 4px 8px;
      border-radius: 6px;
    }
  
    .text,
    .country,
    .likes {
      margin-left: 0;
    }
  
    .rating-container {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  
    .navigation-arrows {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  
    .arrow {
      cursor: pointer;
      font-size: 18px;
      margin: 0 10px;
    }
  }
  